
.img {
    margin-top: 100px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.bio {
    text-align: center;
    font-style: bold;
    border: 5px solid #0f1419;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
}

body {
    background-color: lightgray
}